*{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;

    background: rgb(231, 62, 62);
}
header img {
    width: 80px;
}
header #pesquisa{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
header #busca{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
   
}
header #busca input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    border: 0;

    color: #868686;
    font-size: 18px;

    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: right;
    background-position-y: center;
} 


header #busca p, header #filtro p{
    width: 20%;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

    margin:0 10px 0 10px;
}

header #filtro {
    display: flex;
    align-items: center;
    margin-top: 10px;

    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    border: solid 2px;
    border-radius: 5px;
    height: 40px;

    transition: 0.3s;
    background: rgb(179, 46, 46);
}
header #filtro img{
    width: 24px;
    margin:0 10px 0 10px;
}
main #banner{
    max-width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
}
main #banner p{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: #323232;
    font-weight: 700;
}

main #banner img{
    width: 100%;
    max-height: 500px;
}
main #banner #pedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -450px 60px 0 60px;

    z-index: 2;
    margin-bottom: 350px;
}
main #banner #pedido #promocao p {
    color: #ffffff;
    max-width: 300px;
}
main #banner #pedido button{
    background-color: rgb(231, 62, 62);
    min-height: 60px;
    min-width: 160px;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;

    transition: 0.3s;
}
main #banner #pedido button:hover {
    cursor: pointer;
    background: rgb(15, 236, 8);
}
main #conteudo{
    max-width: 90%;
    margin: 20px auto;

}

main #conteudo #titulo{
    font-size: 24px;
    color: #323232;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
main #conteudo #produto{
    display: flex;
    flex-wrap: wrap-reverse;

}

main #conteudo #produto .card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 48%;
    height: 160px;
    border: solid 2px #323232;
    border-radius: 5px;

    margin: 5px 5px;

}
main #conteudo #produto .card .lanche{
    width: 200px;
    height: 100%;
}
main #conteudo #produto .card .lanche img{
    width: 100%;
    height: 100%;
}
main #conteudo #produto .card .item{
    margin: 0 5px 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
main #conteudo #produto .card .item p{
    font-family: 'Roboto', sans-serif;
    color: #323232;
    font-weight: 700;
    font-size: 15px;
    margin:10px 0 ;
}
main #conteudo #produto .card .item .descricao{
    font-weight: 400;
}
main #conteudo #produto .card .valor-qtd{
    margin: auto 10px;
}

main #conteudo #produto .card .valor-qtd .valor{
    color: rgb(231, 62, 62);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
}
main #conteudo #produto .card .valor-qtd .qtd{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #conteudo #produto .card .valor-qtd .qtd p{
    width: 28px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background: rgb(231, 62, 62);
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

}
main #conteudo #produto .card .valor-qtd .qtd .quantia{
    background: #c4c4c4;
    color: #323232;
}
main #conteudo #produto .card .valor-qtd .qtd .sub{
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
main #conteudo #produto .card .valor-qtd .qtd .add{
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgb(231, 62, 62);
}
footer img{
    width: 130px;
}
footer #compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    color: #ffffff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
footer #compra img{
    width: 50px;
}
footer #compra #pedir, footer #compra #cadastrar{
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

    transition: 0.5;

}
footer #compra #pedir{
    background: rgb(26, 25, 25);
}
footer #compra #pedir:hover{
    background: #000
}
footer #compra #cadastrar{
    background: rgb(84, 163, 84);
}
footer #compra #cadastrar:hover{
    background: rgb(12, 117, 12);
}
footer #compra input{
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;

    color: #000;
    font-size: 18px;

    background-image: url(./assets/email_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: right;
    background-position-y: center;

}

footer #links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer #links img{
    width: 40px;
    border-radius: 5px;
    margin: 5px 0;

    cursor: pointer;
}
